body
{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(139, 67, 207);
}
#main
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #ffffed;
    background-color: #ffffedaa;
    padding: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: goldenrod;

  }
.button-link
{
  text-align: center;  
  width: 25%;
    height: 56px;
    background-color: rgb(252, 38, 91);
    background-color: rgb(252, 38, 91);
    color: white;
    font-size: large;
    border-width: 3px;
    border-style: solid;
    border-color: gold;
    transition: border-color 0.3s;
    margin-bottom: 4px;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid green;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: rgb(64, 66, 59);  
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #6d7263;  
  }
.ScrollBox
{
  height:500px;
  width:auto;
  overflow:auto;
  background-color:rgb(26, 24, 2);
  color:green;
  font-family:'Courier New', Courier, monospace;
  padding:10px;
  border: 10px;
}
