body
{
  font-family: 'Courier New', Courier, monospace;
  background-color: blueviolet;
}
#main
{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #ffffed;
    background-color: #ffffedaa;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: goldenrod;

  }
.button-link
{
  text-align: center;  
  width: 25%;
    height: 56px;
    background-color: rgb(252, 38, 91);
    background-color: rgb(252, 38, 91);
    color: white;
    font-size: large;
    border-width: 3px;
    border-style: solid;
    border-color: gold;
    transition: border-color 0.3s;
    margin-bottom: 4px;
}