body
{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: blueviolet;
}
.box {
    width: auto;
    height: auto;
   
  }
  
  img {
    width: 100%; /* takes the 100 % width of its container (.box div)*/
    height: 100%; /* takes the 100 % height of its container (.box div)*/
    object-fit: cover;
    max-height: 900px;
    max-width: 900px;
  }
  #main
  {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #ffffed;
    background-color: #ffffedaa;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: goldenrod;

  }
  .button-link
{
  text-align: center;  
  width: 30%;
    height: 56px;
    background-color: rgb(252, 38, 91);
    background-color: rgb(252, 38, 91);
    color: white;
    font-size: large;
    border-width: 3px;
    border-style: solid;
    border-color: gold;
    transition: border-color 0.3s;
    margin-bottom: 4px;
}
