.box {
    width: auto;
    height: auto;
   
  }
  
  img {
    width: 100%; /* takes the 100 % width of its container (.box div)*/
    height: 100%; /* takes the 100 % height of its container (.box div)*/
    object-fit: cover;
  }